<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group pt-4 pt-3">
    <%= form.text_field :title, placeholder: "write title space" ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_area :content, placeholder: "write content space", class: "form-control", rows: 7  %>
  </div>

  <div class="field form-group">
      <%= form.label :deadline %>
      <%= form.date_field :deadline %>
      <%= form.label :status %>
      <%= form.select :status, [["未実施", "未実施"], ["実施中", "実施中"], ["実施後", "実施後"]] ,include_blank: "選択して下さい"%>
      <%= form.label :priority%>
      <%= form.select :priority, [[:低, :低], [:中, :中], [:高, :高]] ,include_blank: "選択して下さい"%>
  </div>
  <div class="form-group">
    <%= form.label :label_name %>
    <% Label.where(user_id: current_user.id).each do |label| %>
      <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <%= label.label_name %>
    <% end %>
  </div>
  <div class="form-group">
    <%= link_to "新しくラベルを作成する", new_label_path %>
    
  </div>

  <div class="text-center">
    <%= form.submit "submit", class: "btn btn-primary" %>
  </div>
<% end %>
