<p id="notice"><%= notice %></p>

<h1 class="top_tasks">Tasks</h1>
<%= form_with(model: @tasks, url: tasks_path , local: true, method: :get) do |f| %>
  <%= f.label :status %>
  <%= f.select :status, [["未実施", "未実施"], ["実施中", "実施中"], ["実施後", "実施後"]] ,include_blank: "選択して下さい" %>
  <%= f.label :search, "search", class: "search_label"%>
  <%= f.text_field :search %>
 
  <%= f.submit "search", value: "検索する"%>
  <% end %>
  <%= form_with(model: @tasks, url: tasks_path, local: true, method: :get) do |f|%>
    <%= f.label :label_name %>
    <%= f.select :label_name, Label.where(user_id: current_user.id).collect { |p| [ p.label_name, p.id ] }, include_blank: true %>
    <%= f.submit "search", value: "ラベルで検索する" %>
  <% end %>


    

<%= link_to new_task_path do %><span class="label label-default">Weite New Task</span><% end %> 
<table class="table table-striped" >
  <thead>
    <tr>
      <th >Title</th>
      <th>Content</th>
      <th>Status</th>
      <th>labels</th>
      <th class="rspec_deadline_test"v><%= link_to tasks_path(sort_expired: "true") do %>Deadline<span class="glyphicon glyphicon-triangle-bottom"></span><% end %></th>
      <th class="rspec_priority_test"><%= link_to tasks_path(priority_expired: "true") do %>Priority<span class="glyphicon glyphicon-triangle-bottom"></span><% end %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div >

      <% @tasks.each do |task| %>
        <tr>
          <td class="rspec_order_test col-lg-1"><%= task.title  %></td>
          <td class="rspec_sort_test col-lg-2"><%= task.content %></td>
          <td class="rspec_search_test col-lg-1"><%= task.status %></td>
          <td class="col-lg-2">
            <% task.labels.each do |label|%>
              <%= label.label_name %>
            <% end %>
          </td>
          <td class="col-lg-2 "><%= task.deadline %></td>
          <td class="col-lg-1"><%= task.priority %></td>
          <td class= "col-lg-1"><span class="label label-info" ><%= link_to 'Show', task %></span></td>
          <td class= "col-lg-1"><span class="label label-success"><%= link_to 'Edit', edit_task_path(task) %></span></td>
          <td class= "col-lg-1"><span class="label label-danger"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
        </tr>
      <% end %>
      <%= paginate @tasks %>
    </div>
  </tbody>
</table>

<br>


