<% label_lists = ["仕事", "友人関係", "家族関係", "生活関係"] %>

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :email %>
  <%= form.text_field :email, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :password %>
  <%= form.password_field :password, class: "form-control" %>
</div>
  <% for number in 0..label_lists.length-1 do%>
    <%= form.fields_for :labels, user.labels.build do |m| %>
      <%= m.hidden_field :label_name, value: label_lists[number] %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
