<h1>Admin Users</h1>
<%= link_to '新規でユーザーを作成する', new_admin_user_path %>

<% @admin_users.each do |admin| %>
        
  <table class="table" >
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>タスク数</th>
        <th>詳細</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>

    <tbody>
      <tr>
          <td><%= admin.name %></td>
          <td><%= admin.tasks.count %></td>
          <td><%= link_to 'Show', admin_user_path(admin.id) %></td>
          <td><%= link_to 'Edit', edit_admin_user_path(admin.id) %></td>
          <td><%= link_to 'Destroy', admin_user_path(admin.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>

<% end %>



